[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pypdf2 = "*"
python-dotenv = "*"
streamlit = "*"
openai = "*"
langchain-core = "*"
tiktoken = "*"
langchain-google-genai = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.11"
